@import "fonts";
/* @import "components/index"; */

* {
    margin: 0;
    padding: 0;
}
html, body {
    margin: 0px;
    padding: 0px;
    font-size: 14px;
    font-family: OpenSansRegular;
    /* background: url('../logo.svg') no-repeat;
    background-size: 500px auto;
    background-position: center top; */
}
